<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">


    <title>Main Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* CSS для центрирования изображения */
        .center-image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        .center-image img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/author/books}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/author/publishers}">Publishers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/author/authors}">Authors</a>
            </li>
        </ul>
        <span class="navbar-text">
            Welcome, <span th:text="${user.getEmail()}"></span>
        </span>
        <a class="btn btn-danger ml-2" th:href="@{/library}">Log Out</a>
    </div>
</nav>
<div class="container mt-5">
    <div class="center-image">
        <img th:src="@{/images/books.jpg}" alt="Your Image" style="width: 80%; height: auto;">
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
